<!-- start navigation -->
<div class="row">
  <!-- start left side -->
  <div class="col-sm-6 h-100 categories remove-padding">
    <div class="navigation products p-3">
      <h3 class="text-center"><a href="/products" class="text-dark">PRODUCTS</a></h3>
    </div>
  </div>
  <!-- end left side -->

  <!-- start right side -->
  <div class="col-sm-6 h-100 categories remove-padding">
    <div class="navigation p-3">
      <h3 class="text-center"><a href="/categories" class="text-dark">CATEGORIES</a></h3>
    </div>
  </div>
  <!-- end right side -->
</div>
<!-- end navigation -->